# Environment variables
.env
backend/.env
frontend/.env
*.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
backend/venv/
backend/.venv/
.pytest_cache/

# Node
node_modules/
frontend/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Database & SQLite
*.sqlite3
*.db-journal

# IDE / System
.vscode/
.idea/
.DS_Store
Thumbs.db
